---

import type { HTMLAttributes } from "astro/types";
import Group from "../../layout/group/Group.vue";
import { isHeaderLinkActive } from "./header-link.utils";
import { type HeaderLinkVariants, headerLink } from "./header-link.variants";

type Props = HTMLAttributes<"a"> & HeaderLinkVariants;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const active = isHeaderLinkActive(
  typeof href === "string" ? href : (href?.toString() ?? "/"),
  pathname
);

const { base, line } = headerLink({ active });
---

<a
  href={href}
  {...props}
  class={base()}
  data-header-link
  data-href={href}
  data-base-url={import.meta.env.BASE_URL}
>
  <Group spacing="sm" class="p-sm">
    <slot name="icon" />
    <div class={line()}>
      <slot />
    </div>
  </Group>
</a>

<script>
  import { isHeaderLinkActive } from "./header-link.utils";
  import { headerLink } from "./header-link.variants";

  /** Update the active state of header links */
  function updateActiveState() {
    const baseUrl = import.meta.env.BASE_URL;
    const pathname = window.location.pathname.replace(baseUrl, "");

    document
      .querySelectorAll<HTMLAnchorElement>("[data-header-link]")
      .forEach((link) => {
        if (!link.dataset.href) return;
        
        const href = link.dataset.href;
        const active = isHeaderLinkActive(href, pathname);
        const { base, line } = headerLink({ active });

        link.className = base();

        const lineElement = link.querySelector('[class*="line"]');
        if (lineElement) lineElement.className = line();
      });
  }

  updateActiveState();
  document.addEventListener("astro:after-swap", updateActiveState);
</script>
