---
import type { CollectionEntry } from "astro:content";

import { Image } from "astro:assets";

import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Footer from "../features/footer/Footer.astro";
import Header from "../features/header/Header.astro";

type Props = CollectionEntry<"blog">["data"] & { slug?: string };

const { description, heroImage, pubDate, slug, title, updatedDate } =
	Astro.props;
---

<html lang="en">
	<head data-overlayscrollbars-initialize>
		<BaseHead title={title} description={description} />
	</head>

	<body data-overlayscrollbars-initialize>
		<Header />
		<main>
			<article>
				<div>
					{
						heroImage && (
							<Image
								src={heroImage}
								alt=""
								transition:name={`${slug} hero`}
								class="h-auto w-full"
							/>
						)
					}
				</div>
				<div>
					<div>
						<div transition:name={`${slug} pubDate`}>
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div>
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 transition:name={`${slug} title`}>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
